:root {
  --primary: #00296b;
  --secondary: #ffd500;
  --third: #ffffff;
  --dark: #222;
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Helvetica', sans-serif;
}

body {
  font-family: var(--font-body);
  margin: 25px;
  padding: 1rem;
  color: var(--dark);
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.1)),
    url('/wdd231/final-project/images/background.jpg');
  background-size: cover;
  background-position: center;

}


/*navigation ================================*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrp;
  /* garante responsividade */
  max-width: 1200px;
  margin: 0 auto;
}


.logo {
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: 40px;
  align-items: center;
  color: var(--third);
}


.logo p {

  margin-left: 65px;
  white-space: nowrap;
}

nav {
  grid-template-columns: 1fr;
  background-color: var(--secondary-color);

}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--third);
  font-weight: bold;
}

nav a:hover {
  color: var(--secondary);
}

/*hamburger btton ------*/

#menuBtn {
  display: none;
}

main h1 {
  margin-top: 10rem;
  text-align: center;
  color: var(--third);
}

main p {
  text-align: center;
  color: var(--third);
}



/*button "Get a Qoute" =================*/
.cta {
  border: none;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  color: var(--dark);
  background: var(--third);


}

.cta:hover {
  background-color: var(--secondary);
  color: var(--third);

}




/*MAIN =====introduction after call to action button*/
.intro {
  text-align: center;

}

/*services section ========*/
.services {
  display: grid;
  grid-template-areas:
    "h2"
    "card1"
    "card2"
    "card3";
  gap: 2rem;
  padding: 2rem;
}

.cardInfo1 {
  grid-area: card1;
}

.cardInfo2 {
  grid-area: card2;
}

.cardInfo3 {
  grid-area: card3;
}

/* Estilo comum às 3 */
.services>div {
  background-color: #00296b80;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Tamanho padrão para todas as imagens */
.services img {
  width: 100%;
  max-width: 500px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.services h2 {
  color: var(--third);
  text-align: center;
}

/*about me section =============== */
.aboutMe {
  display: grid;
  grid-template-areas:
    "image title"
    "image text";
  max-width: 100%;
  margin: 2rem;
  background-color: #00296b80;
  color: white;
  border-radius: 12px;
}

.aboutMe h2 {
  grid-area: title;
  text-align: center;

}

.aboutMe img {
  display: block;
  grid-area: image;
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.aboutMe p {
  grid-area: text;
  margin: 10px;
  font-size: 1rem;
}

/*portifolio =======================*/

dialog {
  border: none;
  border-radius: 10px;
}

dialog button:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

dialog button {
  width: 100%;
  background-color: var(--primary);
  color: var(--third);
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
}

.cards img {
  cursor: pointer;
}

/*contact page ============== */

form {
  display: grid;
  background-color: #00296b80;
  border-radius: 1rem;
  color: var(--third);
  padding: 1rem;
  width: 500px;
  height: auto;
  margin: 0 auto 70px;

}

label {
  padding: 0.2rem;

}

#submit:hover {
  background-color: var(--secondary);
  color: var(--third);
}

#submit {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

/*thankyou ==========================*/


/*FOOTER ===========================*/
footer {
  text-align: center;
  padding: 10px;
  background: #00296b80;
  color: var(--third);
}